<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%;">
    <ion-row style="display:flex; align-items: center; height:100%;">
      <ion-col>
        <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit($event)">

          <ion-img class="ion-padding-bottom" src="assets/svg/img_svg.svg" ></ion-img>

          <ion-list>
            <ion-item>
              <ion-label position="floating" class="ion-margin-top">Usuario</ion-label>
              <ion-input formControlName="userEmail" type="text"></ion-input>
            </ion-item>
          </ion-list>

          <ion-button type="submit" expand="block" class="ion-margin-top">Recuperar</ion-button>
          <p>No estas registrado? <a routerLink="/register">Registrate</a></p>
          <p>Ya tienes una cuenta? <a routerLink="/login">Iniciar Sesion</a></p>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
