<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Fotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item button *ngFor="let album of (result|async)" [routerLink]="['/','album',album.id]">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="3" >
              <div>
                <ion-img src="{{album.url}}"></ion-img>
              </div>
            </ion-col>
            <ion-col size="9">
              <div>
                <p class="ion-no-margin" style="font-size: 3vw; color: darkgrey;">Album: {{album.albumId}}</p>
                <p class="ion-no-margin" style="font-size: 4vw;">{{album.title}}</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
  </ion-list>
</ion-content>
