.add-guest-form{
    ion-card-header{
        text-align: center;

    }
    button{
        margin-top:15px;
    }

}

    .profitable{
        color:#22bb22;
    }

    .no-profitable{
        color:#ff0000;
    }
